.footer-social {
  margin-bottom: 60px;

  @media screen and (min-width: 1200px) {
    margin-left: 70px;
    margin-bottom: 0px;
  }

  &__title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1.14;
    color: var(--wite-text-color);
    text-transform: uppercase;

    @media screen and (min-width: 1200px) {
      text-align: left;
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    list-style: none;

    @media screen and (min-width: 1200px) {
      justify-content: start;
    }
  }

  &__item:not(:last-child) {
    margin-right: 10px;
  }

  &__svg {
    fill: var(--wite-text-color);
  }
}

.footer-social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--animation);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}
