.basement {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--basement-color);

  &__container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;

    @media screen and (min-width: 1200px) {
      display: flex;
      max-width: 1200px;
    }
  }

  &__contacts {
    text-align: center;
    margin-bottom: 60px;

    @media screen and (min-width: 1200px) {
      text-align: left;
      margin-bottom: 0px;
    }
  }

  &__list {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-top: 20px;
  }

  &__link-map {
    color: var(--wite-text-color);
    transition: color var(--animation);
  }

  &__link-mail {
    color: var(--address-text-color);
    transition: color var(--animation);
  }

  &__link-phone {
    color: var(--address-text-color);
    transition: color var(--animation);
  }

  &__join {
    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: space-around;
    }

    @media screen and (min-width: 1200px) {
      justify-content: start;
    }
  }
}
