.herro {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background: var(--basement-color);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/mobile/hero-Img.jpg');
  max-width: 1600px;
  background-size: cover;
  background-position: center;
  margin-left: auto;
  margin-right: auto;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: url('../images/mobile/hero-img@2x.jpg');
      background-size: cover;
    }
  }

  &__title {
    max-width: 360px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    color: var(--wite-text-color);
    text-transform: uppercase;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

    @media screen and (min-width: 1200px) {
      max-width: 696px;
      font-size: 44px;
      line-height: 1.36;
    }
  }

  &__button {
    padding: 10px 32px;
    background-color: var(--accent-color);
    color: var(--wite-text-color);
    font-family: inherit;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    text-align: center;
    cursor: pointer;
    border: transparent;
    border-radius: 4px;
  }
}

@media screen and (min-width: 768px) {
  .herro {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../images/tablet/hero-Img.jpg');
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .herro {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url('../images/tablet/hero-img@2x.jpg');
    }
  }
}

@media screen and (min-width: 1200px) {
  .herro {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../images/desktop/hero-Img.jpg');
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .herro {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url('../images/desktop/hero-img@2x.jpg');
    }
  }
}
